.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: url('../img/Shehu-Background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }
  .bold {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(255, 174, 68);
  }

  .banner-btn {
    background-color: rgb(255, 174, 68);
  }

  .banner-text {
    color: white;
  }
  .type {
    display: block;
    height: 30px;
  }
  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 3.5rem;
      letter-spacing: 0.1rem;
      font-weight: 600;
    }
    .bold {
      font-size: 4rem;
      font-weight: 700;
      color: rgb(255, 174, 68);
    }
    h3 {
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: 0.1rem;
    }
    .type {
      display: block;
      height: 30px;
    }
  }
}

#about {
  min-height: 100%;
  height: auto;
  display: flex;
  background-color: white;
  align-items: center;

  .about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    justify-items: center;
  }
  
  .about-text {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .globe {
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }

  h2 {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    margin: 25px 0;
  }

  p {
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
  }

  @media (min-width: 992px) {

    .about {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      justify-items: center;
    }

    .about-text {
      flex: 1 1 39%;
      width: 39%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-content: center;
      align-items: center;
      justify-content: center;
    }

    .globe {
      flex: 1 1 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      align-content: center;
    }
  }
}


